.section-title-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title-content {
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .section-title-content {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

