.work-highlights-page-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.name-graphic-container {
  background-color: #000000;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.half-graphic {
  position: relative;
  transform: translateY(20%) scale(1.2);
  @media (max-width: 1023px) {
    transform: translateY(10%) scale(1.2);
  }
}

/* Loading and Error States */
.work-highlights-page-container.loading,
.work-highlights-page-container.error {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.work-highlights-page-wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  /* min-height: 100vh; */
}

/* Responsive Design */
@media (min-width: 500px) and (max-width: 1024px) {
  .work-highlights-page-container {
    gap: 0rem;
  }
}

@media (max-width: 480px) {
  .work-highlights-page-container {
    /* padding: 0.5rem; */
  }
}
