.home-page-content {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  width: 100%;
  height: 60%;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  padding-left: 10%;
  justify-content: space-evenly;
  z-index: 1000;
}

.description {
  font-weight: 800;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.home-title {
  padding: 0;
}

.divider {
  width: 50%;
  height: 1px;
  background-color: #e5e5e5;
}

/* Text roller */

.animation-container {
  color: #e5e5e5;
  text-transform: uppercase;
  text-shadow: none;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.home-roller-animation {
  height: 5rem;
  overflow: hidden;
}

.home-roller-animation > div > div {
  padding: 0.75rem 1.5rem;
  height: 3rem;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.home-roller-animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  background-color: #20a7d8;
  font-weight: bold;
  white-space: nowrap;
}
.second div {
  font-weight: bold;
  background-color: #cd921e;
}
.third div {
  font-weight: bold;
  background-color: #c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .home-page-content {
    font-size: 1.1rem;
    padding-left: 0;
  }

  .divider {
    width: 80%;
  }

  .animation-container {
    font-size: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .home-roller-animation {
    height: 2rem;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -2.2rem;
    }
    30% {
      margin-top: -2.2rem;
    }
    40% {
      margin-top: -5rem;
    }
    60% {
      margin-top: -5rem;
    }
    70% {
      margin-top: -2.2rem;
    }
    80% {
      margin-top: -2.2rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }

  .home-roller-animation > div > div {
    padding: 0.5rem 0.25rem;
    height: 1rem;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 400px) {
  .home-page-content {
    height: 50%;
    font-size: 1rem;
    padding-left: 0;
  }
  .divider {
    width: 70%;
  }

  .animation-container {
    font-size: 0.9rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .home-roller-animation {
    height: 2rem;
  }

  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -2.2rem;
    }
    30% {
      margin-top: -2.2rem;
    }
    40% {
      margin-top: -5rem;
    }
    60% {
      margin-top: -5rem;
    }
    70% {
      margin-top: -2.2rem;
    }
    80% {
      margin-top: -2.2rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }

  .home-roller-animation > div > div {
    padding: 0.5rem 0.25rem;
    height: 1rem;
    margin-bottom: 1.2rem;
  }
}

