.about-me-page-container {
  background-color: black;
  color: white;
  overflow: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}

.name-graphic-container {
  background-color: #111111;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.half-graphic {
  transform: translateY(30%) scale(1.2);
}

.about-me-page-content-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.personal-detail,
.beyond-work,
.main-skills {
  position: relative;
  width: 100%;
  height: 100%;
}

.tech-stack-container {
  position: relative;
  /* width: 80%; */
  & > * {
    margin-bottom: 2rem;
  }
}

