.home-page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.three-scene-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.home-page-content-wrapper {
  width: 50vw;
  height: 100vh;
  position: absolute;
  pointer-events: auto;
  top: 0;
  left: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

