.home-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.squares-background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home-page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  padding: 8rem;
  position: relative;
}

.vietnam-icon-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & > img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.home-content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.bento-grid-wrapper {
  flex: 2;
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .home-page-container {
    width: 100%;
    height: 100%;
  }
  .home-page-wrapper {
    flex-direction: column;
    padding: 4rem;
    flex: 1;
  }

  .home-content-wrapper {
    margin-top: 3rem;
    min-height: 50vh;
  }

  .bento-grid-wrapper {
    flex: 1;
    padding-bottom: 0rem;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .home-page-wrapper {
    flex-direction: column;

    padding: 3rem;
    flex: 1;
  }

  .home-content-wrapper {
    margin-top: 4rem;
  }

  .bento-grid-wrapper {
    flex: 1;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .home-page-wrapper {
    padding: 4rem;
  }
}

